.dropApropos {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.drop__apropos {
    width: 80%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width : 768px){


   .drop__apropos {
    width: 100%;
    padding-bottom: 40px;
    gap:30px;
   }
}