@import 'variables';
@import 'mixin';
* {
    font-family: 'Montserrat', sans-serif;
 
}
.carrousel {
    position: relative;


&__img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    z-index:1;
    @include border-radius(20px)
}
&__arrow {
    position: absolute;
    bottom: 35%;
    z-index:3;
    width: 96px;
    height: 120px;
    cursor: pointer;
}
&__arrow--right{
    right:20px;
}
&__arrow--left {
    left: 20px;
}
&__counter {
    position: absolute;
    bottom: 20px;
    right: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -2px;
}
}
.title {
    @include flex (row, normal);
    justify-content: space-between;
    width: 100%;
    color:$primary-color;
    padding: 30px 0px;
& h1 {
    font-size:51px;
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 10px;
}
& p {
    font-size:18px;
}
& img {
    @include border-radius(50%);
    object-fit:cover;
    width: 64px;
}
&__name {
    @include flex(row, normal);
    align-items:center;
    justify-content: space-around;

}
&__name p {
    width: 90px;
}
}
.retail {
@include flex (row, normal);
justify-content: space-between;
&__tagline {
@include flex (row, normal );
gap: 20px;
align-items: center;
}
& p {
    color: white;
    background-color: $primary-color;
    padding: 5px 40px;
    @include border-radius(20px);
    display: block;
    font-size:14px;
    font-weight: 500;
}
}

.drop {
    padding: 30px 0px;
    @include flex (row, normal);
    justify-content:space-between;
    @include border-radius(10px);
    gap:50px;
}
.dropdown {
    width: 100%;

    &__config{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        @include border-radius(10px);
        color: white;
        font-size:18px;
        background-color: $primary-color;

        &--content {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            background-color: $color-card;
            color: $primary-color;
            font-size:18px;
            padding: 20px;
            font-weight: 300;
            line-height:25px;
            transition: max-height 1.3s ease-in-out, opacity 0.3s ease-in-out;
        }
        &--content li{
        list-style-type: none;
    }
}
}
.rotated {
    transition: all 200ms ease-in-out;
    transform: rotate(180deg);
}
.arrow {
    transition: all 200ms ease-in-out;
    transform: rotate(0deg); 
}
.open {
    max-height: 1000px;
    opacity: 1;
}
