@import 'variables';
@import 'mixin';
* {
    font-family: 'Montserrat', sans-serif;
 
}
.carrousel {
    position: relative;


&__img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    z-index:1;
    @include border-radius(20px)
}
&__arrow {
    position: absolute;
    bottom: 35%;
    z-index:3;
    width: 96px;
    height: 120px;
    cursor: pointer;
}
&__arrow--right{
    right:20px;
}
&__arrow--left {
    left: 20px;
}
&__counter {
    position: absolute;
    bottom: 20px;
    right: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -2px;
}
}
.title {
    @include flex (row, normal);
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color:$primary-color;
    padding: 30px 0px;
&__info{
    width: 70%;
}
& h1 {
    font-size:51px;
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 10px;
}
& p {
    font-size:18px;
}
& img {
    @include border-radius(50%);
    object-fit:cover;
    width: 64px;
}
&__name {
    @include flex(row, normal);
    height: 64px;
    align-items: center;

}
&__name p {
    width: 90px;
}
}
.retail {
@include flex (row, normal);
justify-content: space-between;
width: 50%;
&__tagline {
@include flex (row, normal );
gap: 15px;
align-items: center;
flex-wrap: wrap;
}
& p {
    color: white;
    background-color: $primary-color;
    padding: 5px 40px;
    @include border-radius(20px);
    display: block;
    font-size:14px;
    font-weight: 500;
}
}
.star{
    display: flex;
    align-items: center;
& img {
    width: 36px;
    height: 36px;
}}
.drop {
    padding: 30px 0px;
    @include flex (row, normal);
    justify-content:space-between;
    @include border-radius(10px);
    gap:50px;
}
.dropdown {
    width: 100%;

    &__config{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        @include border-radius(10px);
        color: white;
        font-size:18px;
        background-color: $primary-color;

        &--content {
            overflow: hidden;
            background-color: $color-card;
            color: $primary-color;
            font-size:18px;
            padding: 20px;
            font-weight: 300;
            line-height:25px;
        }
        &--content li{
        list-style-type: none;
    }
}
}
.open {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out;

}
.close{
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out;

}
.rotated {
    transition: all 200ms ease-in-out;
    transform: rotate(180deg);
}
.arrow {
    transition: all 200ms ease-in-out;
    transform: rotate(0deg); 
}

@media  screen and (max-width:768px) {
.title {
    width: 100%;
&__info{
    width: 100%;
}
&__name{
    order:4;
    width: auto;
}

}
.retail{
    width: 100%;
    padding: 20px 0px;
}
.drop {
    flex-direction: column;
    gap:35px;
}
.dropdown__config--content{
    padding: 0px;
}
.carrousel__counter{
    display: none;
}
.star{
    align-items: center;
    display: flex;
}
.star img{
    width: 18px;
}
.carrousel__arrow{
    width: 24px;
    height: 24px;
    bottom:45%;
}
.carrousel__img{
    height:255px;
}
}
@media  screen and (max-width:425px) {
    .title__info h1 {
        font-size: 18px;
    }
    .title p {
        font-size: 14px;
    }
    .title img {
        width: 32px;
    }
    .retail__tagline p {
        font-size: 10px;
    }
    .drop{
        gap: 20px;
    }
    .dropdown__config{
        padding: 5px;
   &--text  {
        font-size: 13px;
    }
    &--content {
        font-size: 13px;
        padding: 10px;
        & ul {
            padding: 0px;
        }
    }
    }
    .title__name{
        display: flex;
        align-items: center;
   & p {
        font-size: 12px;
        flex-wrap: wrap;
        width: 50%;
    }
    }
}
