@import 'variables';
@import 'mixin';
* {
    margin: 0;
}
.card {
    background-color: $color-card;
    @include border-radius(20px);
    padding: 50px 0px 50px 70Px;
&__style {
    @include flex (row, normal);
    gap: 45px;
    flex-wrap: wrap;
}

&__div {
width: calc(33% - 30px - 20px);
height: 340px;
@include border-radius(20px);
position: relative;
}
&__div::before{
    content: "";
    background: linear-gradient(180deg, rgba(2, 2, 2, 0.12) 61%, rgb(4 4 4 / 51%) 81%);    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
& img {
    @include border-radius(20px);
    object-fit: cover;
    width: 100%;
    height: 100%;
}
&__title {
    position: absolute;
    top: -4%;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    width: 50%;
    height: 340Px;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

}
.picture__banner {
padding: 0px 0px 40px;
position: relative;
& img{
    width: 100%;    
    height: 223px;
    object-fit: cover;
    margin:0;
    @include border-radius(30px);
    filter:brightness(0.6);
}
&--text {
    position: absolute;
    bottom: 50%;
    font-size: 48px;
    color: white;
    font-weight: 300;
    margin:0;
    width: 100%;
    text-align: center;
}
}
