@charset "UTF-8";
* {
  margin: 0;
}

.card {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 30px;
  cursor: pointer;
  /* Styles supplémentaires au survol */
}
.card__style {
  display: grid;
  justify-content: start;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card__div {
  height: 340px;
  border-radius: 20px;
  position: relative;
  transition: all 500 ease-in-out;
  background-color: #FF6060;
  background-image: linear-gradient(to top, rgb(255, 96, 96), rgba(255, 96, 96, 0));
}
.card__div::before {
  content: "";
  background: linear-gradient(180deg, rgba(2, 2, 2, 0.12) 61%, rgba(4, 4, 4, 0.51) 81%);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card__div:hover::before {
  background-image: linear-gradient(to top, rgb(255, 96, 96), rgba(255, 96, 96, 0));
}
.card__div:hover {
  /* Couleur de fond au survol */
  background-color: #FF6060;
  /* Dégradé vertical avec une opacité plus élevée vers le bas */
  background: linear-gradient(180deg, rgb(255, 96, 96) 61%, rgba(4, 4, 4, 0.9), transparent 81%);
}
.card img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__title {
  position: absolute;
  top: -4%;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.picture__banner {
  padding: 0px 0px 40px;
  position: relative;
}
.picture__banner img {
  width: 100%;
  max-height: 223px;
  object-fit: cover;
  margin: 0;
  border-radius: 30px;
  filter: brightness(0.6);
}
.picture__banner--text {
  position: absolute;
  bottom: 50%;
  font-size: 48px;
  color: white;
  font-weight: 500;
  margin: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1160px) {
  .card__style {
    gap: 30px;
  }
  .card__div {
    height: 250px;
  }
}
@media screen and (max-width: 1024px) {
  main {
    margin: 20px;
  }
  .banner {
    margin: 20px;
  }
  .picture__banner--text {
    font-size: 34px;
  }
  .picture__banner--home {
    height: 111px;
  }
  .card {
    padding: 30px;
  }
  .card__title {
    font-size: 14px;
  }
  .card__div {
    height: 255Px;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin: 20px;
  }
  .banner {
    margin: 20px;
  }
  .banner__logo {
    width: 145px;
    height: 47px;
  }
  .banner__nav {
    gap: 20px;
  }
  .banner__nav p {
    font-size: 12px;
    text-transform: uppercase;
  }
  .dropdown__config--content {
    line-height: 20px;
    padding: 15px;
  }
  .picture__banner {
    padding: 0px;
    margin-bottom: 20px;
  }
  .picture__banner--text {
    display: flex;
    align-items: center;
    font-size: 26px;
  }
  .picture__banner h1 {
    text-align: start;
    padding-left: 20px;
    height: 100%;
    width: 90%;
    bottom: 0;
  }
  .card {
    background-color: white;
    padding: 0px;
    margin: 35px 0px;
  }
  .card__style {
    display: flex;
    flex-direction: column;
  }
  .card__div {
    width: 100%;
  }
  footer {
    gap: 20px;
  }
  footer p {
    font-size: 12px;
    width: 130px;
    text-align: center;
  }
}

/*# sourceMappingURL=home.css.map */
